<?xml version="1.0" encoding="UTF-8"?> 

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">

<servlet>
<servlet-name>hello</servlet-name>
<servlet-class>com.goraksh.rest.HelloWorld</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>hello</servlet-name>
<url-pattern>/hello</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>authorise</servlet-name>
<servlet-class>com.goraksh.rest.clientapp.AuthorisationServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>authorise</servlet-name>
<url-pattern>/authorise</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>clientregister</servlet-name>
<servlet-class>com.goraksh.rest.auth.ClientRegistrationServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>clientregister</servlet-name>
<url-pattern>/register</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>clientredirectendpoint</servlet-name>
<servlet-class>com.goraksh.rest.clientapp.RedirectEndPointServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>clientredirectendpoint</servlet-name>
<url-pattern>/redirect</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>authendpoint</servlet-name>
<servlet-class>com.goraksh.rest.auth.AuthorisationEndPointServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>authendpoint</servlet-name>
<url-pattern>/authendpoint</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>tokenendpoint</servlet-name>
<servlet-class>com.goraksh.rest.auth.TokenEndPointServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>tokenendpoint</servlet-name>
<url-pattern>/token</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>oauthstart</servlet-name>
<servlet-class>com.goraksh.rest.clientapp.OAuthStartServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>oauthstart</servlet-name>
<url-pattern>/myapp</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>oauthlogin</servlet-name>
<servlet-class>com.goraksh.rest.auth.OAuthLoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>oauthlogin</servlet-name>
<url-pattern>/oauthlogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>clientapp</servlet-name>
<servlet-class>com.goraksh.rest.clientapp.ClientAppServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>clientapp</servlet-name>
<url-pattern>/clientapp</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>loginapp</servlet-name>
<servlet-class>com.goraksh.rest.clientapp.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>loginapp</servlet-name>
<url-pattern>/loginapp</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>hellojsp</servlet-name>
<jsp-file>/HelloJsp.jsp</jsp-file>
</servlet>
<servlet-mapping>
<servlet-name>hellojsp</servlet-name>
<url-pattern>/hellojsp</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>registerjsp</servlet-name>
<jsp-file>/registerform.jsp</jsp-file>
</servlet>
<servlet-mapping>
<servlet-name>registerjsp</servlet-name>
<url-pattern>/registerform</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>clienterrorjsp</servlet-name>
<jsp-file>/ClientError.jsp</jsp-file>
</servlet>
<servlet-mapping>
<servlet-name>clienterrorjsp</servlet-name>
<url-pattern>/clienterror</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>clientresponsejsp</servlet-name>
<jsp-file>/ClientResponse.jsp</jsp-file>
</servlet>
<servlet-mapping>
<servlet-name>clientresponsejsp</servlet-name>
<url-pattern>/clientresponse</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>gamesjsp</servlet-name>
<jsp-file>/GamesJsp.jsp</jsp-file>
</servlet>
<servlet-mapping>
<servlet-name>gamesjsp</servlet-name>
<url-pattern>/games</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>loginjsp</servlet-name>
<jsp-file>/Login.jsp</jsp-file>
</servlet>
<servlet-mapping>
<servlet-name>loginjsp</servlet-name>
<url-pattern>/authenticate_old</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>authenticatejsp</servlet-name>
<jsp-file>/AuthenticationJsp.jsp</jsp-file>
</servlet>
<servlet-mapping>
<servlet-name>authenticatejsp</servlet-name>
<url-pattern>/authenticate</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>loginfailedjsp</servlet-name>
<jsp-file>/LoginFailed.jsp</jsp-file>
</servlet>
<servlet-mapping>
<servlet-name>loginfailedjsp</servlet-name>
<url-pattern>/loginfailedjsp</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>authjsp</servlet-name>
<jsp-file>/Authorisation.jsp</jsp-file>
</servlet>
<servlet-mapping>
<servlet-name>authjsp</servlet-name>
<url-pattern>/authjsp</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>clientredirectionjsp</servlet-name>
<jsp-file>/ClientAppRedirect.jsp</jsp-file>
</servlet>
<servlet-mapping>
<servlet-name>clientredirectionjsp</servlet-name>
<url-pattern>/old_redirect_old</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>clientappjsp</servlet-name>
<jsp-file>/ClientApp.jsp</jsp-file>
</servlet>
<servlet-mapping>
<servlet-name>clientappjsp</servlet-name>
<url-pattern>/clientappview</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>errorjsp</servlet-name>
<jsp-file>/ErrorJsp.jsp</jsp-file>
</servlet>
<servlet-mapping>
<servlet-name>errorjsp</servlet-name>
<url-pattern>/errorapp</url-pattern>
</servlet-mapping>


<servlet>
  <servlet-name>Jersey REST Service</servlet-name>
<servlet-class>
  com.sun.jersey.spi.container.servlet.ServletContainer
</servlet-class>
  <init-param>
    <param-name>com.sun.jersey.config.property.packages</param-name>
    <param-value>com.goraksh.rest</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
  <servlet-name>Jersey REST Service</servlet-name>
  <url-pattern>/rest/*</url-pattern>
</servlet-mapping> 
</web-app>